/* Figma Styles of your File */
:root {
    /* Colors */
    --slate-50: #f7f9fb;
    --slate-100: #f0f4f8;
    --slate-200: #e1e7ef;
    --slate-300: #cad4e0;
    --slate-400: #93a2b7;
    --slate-500: #64748a;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --gray-50: #f8f9fa;
    --gray-100: #f2f3f5;
    --gray-200: #e4e6ea;
    --gray-300: #d0d4da;
    --gray-400: #9ba2ae;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --zinc-50: #f9f9f9;
    --zinc-100: #f3f3f4;
    --zinc-200: #e3e3e6;
    --zinc-300: #d3d3d7;
    --zinc-400: #a0a0a9;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --neutral-50: #f9f9f9;
    --neutral-100: #f4f4f4;
    --neutral-200: #e4e4e4;
    --neutral-300: #d3d3d3;
    --neutral-400: #a2a2a2;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --stone-50: #f9f9f8;
    --stone-100: #f4f4f3;
    --stone-200: #e6e4e3;
    --stone-300: #d5d2d0;
    --stone-400: #a7a19d;
    --stone-500: #78716c;
    --stone-600: #57534e;
    --stone-700: #44403c;
    --stone-800: #292524;
    --stone-900: #1c1917;
    --red-50: #fdf1f1;
    --red-100: #fde1e1;
    --red-200: #fdc9c9;
    --red-300: #fba4a4;
    --red-400: #f77171;
    --red-500: #ee4444;
    --red-600: #db2626;
    --red-700: #b81c1c;
    --red-800: #981b1b;
    --red-900: #7f1d1d;
    --orange-50: #fef6ec;
    --orange-100: #feecd4;
    --orange-200: #fdd6a9;
    --orange-300: #fcb974;
    --orange-400: #fa913c;
    --orange-500: #f87316;
    --orange-600: #e9580c;
    --orange-700: #c1410c;
    --orange-800: #993412;
    --orange-900: #7c2d12;
    --amber-50: #fefaea;
    --amber-100: #fdf2c6;
    --amber-200: #fce589;
    --amber-300: #fbd24d;
    --amber-400: #fabe24;
    --amber-500: #f49d0b;
    --amber-600: #d87706;
    --amber-700: #b35309;
    --amber-800: #91400e;
    --amber-900: #78350f;
    --yellow-50: #fdfbe7;
    --yellow-100: #fdf8c2;
    --yellow-200: #fdef89;
    --yellow-300: #fcdf47;
    --yellow-400: #f9cb15;
    --yellow-500: #e9b208;
    --yellow-600: #c98904;
    --yellow-700: #a06207;
    --yellow-800: #844d0e;
    --yellow-900: #713f12;
    --lime-50: #f6fde6;
    --lime-100: #ebfbca;
    --lime-200: #d8f89c;
    --lime-300: #bdf164;
    --lime-400: #a2e535;
    --lime-500: #83cb16;
    --lime-600: #65a20d;
    --lime-700: #4d7c0f;
    --lime-800: #3f6212;
    --lime-900: #365314;
    --green-50: #effcf3;
    --green-100: #dbfbe6;
    --green-200: #baf6cf;
    --green-300: #85eeab;
    --green-400: #4add80;
    --green-500: #22c45e;
    --green-600: #16a24a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;
    --emerald-50: #ebfcf4;
    --emerald-100: #d0f9e4;
    --emerald-200: #a6f2cf;
    --emerald-300: #6ee6b6;
    --emerald-400: #34d298;
    --emerald-500: #10b880;
    --emerald-600: #059569;
    --emerald-700: #047857;
    --emerald-800: #065f46;
    --emerald-900: #064e3b;
    --teal-50: #effcf9;
    --teal-100: #cbfaf0;
    --teal-200: #98f5e3;
    --teal-300: #5ee9d3;
    --teal-400: #2dd3be;
    --teal-500: #14b7a5;
    --teal-600: #0d9387;
    --teal-700: #0f766e;
    --teal-800: #115e59;
    --teal-900: #134e4a;
    --cyan-50: #ebfdfe;
    --cyan-100: #cef9fd;
    --cyan-200: #a4f2fb;
    --cyan-300: #67e7f8;
    --cyan-400: #22d2ed;
    --cyan-500: #06b5d3;
    --cyan-600: #0890b1;
    --cyan-700: #0e748f;
    --cyan-800: #155e75;
    --cyan-900: #164e63;
    --sky-50: #eff8fe;
    --sky-100: #dff1fd;
    --sky-200: #b9e5fc;
    --sky-300: #7dd2fb;
    --sky-400: #38bcf7;
    --sky-500: #0ea4e8;
    --sky-600: #0283c6;
    --sky-700: #0369a0;
    --sky-800: #075984;
    --sky-900: #0c4a6e;
    --blue-50: #eef5fe;
    --blue-100: #dae9fd;
    --blue-200: #bedafd;
    --blue-300: #92c4fc;
    --blue-400: #60a4f9;
    --blue-500: #3b81f5;
    --blue-600: #2563ea;
    --blue-700: #1d4ed7;
    --blue-800: #1e40ae;
    --blue-900: #1e3a89;
    --indigo-50: #edf1fe;
    --indigo-100: #dfe6fe;
    --indigo-200: #c6d1fd;
    --indigo-300: #a4b3fb;
    --indigo-400: #808bf7;
    --indigo-500: #6366f0;
    --indigo-600: #4f46e4;
    --indigo-700: #4338c9;
    --indigo-800: #3730a2;
    --indigo-900: #312e80;
    --violet-50: #f4f2fe;
    --violet-100: #ece8fd;
    --violet-200: #dcd5fd;
    --violet-300: #c3b4fc;
    --violet-400: #a68af9;
    --violet-500: #8a5cf5;
    --violet-600: #7c3aec;
    --violet-700: #6d28d8;
    --violet-800: #5b21b5;
    --violet-900: #4c1d94;
    --purple-50: #f9f4fe;
    --purple-100: #f2e7fe;
    --purple-200: #e8d4fe;
    --purple-300: #d7b3fd;
    --purple-400: #bf83fb;
    --purple-500: #a755f6;
    --purple-600: #9233e9;
    --purple-700: #7e22cd;
    --purple-800: #6b21a7;
    --purple-900: #581c86;
    --fuchsia-50: #fcf3fe;
    --fuchsia-100: #f9e7fe;
    --fuchsia-200: #f4cffd;
    --fuchsia-300: #efaafb;
    --fuchsia-400: #e779f8;
    --fuchsia-500: #d846ee;
    --fuchsia-600: #bf26d2;
    --fuchsia-700: #a11cae;
    --fuchsia-800: #85198e;
    --fuchsia-900: #701a75;
    --pink-50: #fcf1f7;
    --pink-100: #fbe6f2;
    --pink-200: #facee7;
    --pink-300: #f8a7d3;
    --pink-400: #f372b5;
    --pink-500: #eb4898;
    --pink-600: #da2777;
    --pink-700: #bd185d;
    --pink-800: #9c174d;
    --pink-900: #821843;
    --rose-50: #fef0f1;
    --rose-100: #fee3e5;
    --rose-200: #fdccd2;
    --rose-300: #fca3ae;
    --rose-400: #fa7184;
    --rose-500: #f33f5e;
    --rose-600: #e01d48;
    --rose-700: #bd123c;
    --rose-800: #9e1239;
    --rose-900: #871337;
  
    /* Fonts */
    --text-xs-black-font-family: Inter-Black, sans-serif;
    --text-xs-black-font-size: 12px;
    --text-xs-black-line-height: normal;
    --text-xs-black-font-weight: 900;
    --text-xs-black-font-style: normal;
    --text-xs-bold-font-family: Inter-Bold, sans-serif;
    --text-xs-bold-font-size: 12px;
    --text-xs-bold-line-height: normal;
    --text-xs-bold-font-weight: 700;
    --text-xs-bold-font-style: normal;
    --text-xs-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-xs-extrabold-font-size: 12px;
    --text-xs-extrabold-line-height: normal;
    --text-xs-extrabold-font-weight: 800;
    --text-xs-extrabold-font-style: normal;
    --text-xs-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-xs-extralight-font-size: 12px;
    --text-xs-extralight-line-height: normal;
    --text-xs-extralight-font-weight: 200;
    --text-xs-extralight-font-style: normal;
    --text-xs-light-font-family: Inter-Light, sans-serif;
    --text-xs-light-font-size: 12px;
    --text-xs-light-line-height: normal;
    --text-xs-light-font-weight: 300;
    --text-xs-light-font-style: normal;
    --text-xs-medium-font-family: Inter-Medium, sans-serif;
    --text-xs-medium-font-size: 12px;
    --text-xs-medium-line-height: normal;
    --text-xs-medium-font-weight: 500;
    --text-xs-medium-font-style: normal;
    --text-xs-regular-font-family: Inter-Regular, sans-serif;
    --text-xs-regular-font-size: 12px;
    --text-xs-regular-line-height: normal;
    --text-xs-regular-font-weight: 400;
    --text-xs-regular-font-style: normal;
    --text-xs-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-xs-semibold-font-size: 12px;
    --text-xs-semibold-line-height: normal;
    --text-xs-semibold-font-weight: 600;
    --text-xs-semibold-font-style: normal;
    --text-xs-thin-font-family: Inter-Thin, sans-serif;
    --text-xs-thin-font-size: 12px;
    --text-xs-thin-line-height: normal;
    --text-xs-thin-font-weight: 100;
    --text-xs-thin-font-style: normal;
    --text-sm-black-font-family: Inter-Black, sans-serif;
    --text-sm-black-font-size: 14px;
    --text-sm-black-line-height: normal;
    --text-sm-black-font-weight: 900;
    --text-sm-black-font-style: normal;
    --text-sm-bold-font-family: Inter-Bold, sans-serif;
    --text-sm-bold-font-size: 14px;
    --text-sm-bold-line-height: normal;
    --text-sm-bold-font-weight: 700;
    --text-sm-bold-font-style: normal;
    --text-sm-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-sm-extrabold-font-size: 14px;
    --text-sm-extrabold-line-height: normal;
    --text-sm-extrabold-font-weight: 800;
    --text-sm-extrabold-font-style: normal;
    --text-sm-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-sm-extralight-font-size: 14px;
    --text-sm-extralight-line-height: normal;
    --text-sm-extralight-font-weight: 200;
    --text-sm-extralight-font-style: normal;
    --text-sm-light-font-family: Inter-Light, sans-serif;
    --text-sm-light-font-size: 14px;
    --text-sm-light-line-height: normal;
    --text-sm-light-font-weight: 300;
    --text-sm-light-font-style: normal;
    --text-sm-medium-font-family: Inter-Medium, sans-serif;
    --text-sm-medium-font-size: 14px;
    --text-sm-medium-line-height: normal;
    --text-sm-medium-font-weight: 500;
    --text-sm-medium-font-style: normal;
    --text-sm-regular-font-family: Inter-Regular, sans-serif;
    --text-sm-regular-font-size: 14px;
    --text-sm-regular-line-height: normal;
    --text-sm-regular-font-weight: 400;
    --text-sm-regular-font-style: normal;
    --text-sm-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-sm-semibold-font-size: 14px;
    --text-sm-semibold-line-height: normal;
    --text-sm-semibold-font-weight: 600;
    --text-sm-semibold-font-style: normal;
    --text-sm-thin-font-family: Inter-Thin, sans-serif;
    --text-sm-thin-font-size: 14px;
    --text-sm-thin-line-height: normal;
    --text-sm-thin-font-weight: 100;
    --text-sm-thin-font-style: normal;
    --text-base-black-font-family: Inter-Black, sans-serif;
    --text-base-black-font-size: 16px;
    --text-base-black-line-height: normal;
    --text-base-black-font-weight: 900;
    --text-base-black-font-style: normal;
    --text-base-bold-font-family: Inter-Bold, sans-serif;
    --text-base-bold-font-size: 16px;
    --text-base-bold-line-height: normal;
    --text-base-bold-font-weight: 700;
    --text-base-bold-font-style: normal;
    --text-base-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-base-extrabold-font-size: 16px;
    --text-base-extrabold-line-height: normal;
    --text-base-extrabold-font-weight: 800;
    --text-base-extrabold-font-style: normal;
    --text-base-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-base-extralight-font-size: 16px;
    --text-base-extralight-line-height: normal;
    --text-base-extralight-font-weight: 200;
    --text-base-extralight-font-style: normal;
    --text-base-light-font-family: Inter-Light, sans-serif;
    --text-base-light-font-size: 16px;
    --text-base-light-line-height: normal;
    --text-base-light-font-weight: 300;
    --text-base-light-font-style: normal;
    --text-base-medium-font-family: Inter-Medium, sans-serif;
    --text-base-medium-font-size: 16px;
    --text-base-medium-line-height: normal;
    --text-base-medium-font-weight: 500;
    --text-base-medium-font-style: normal;
    --text-base-regular-font-family: Inter-Regular, sans-serif;
    --text-base-regular-font-size: 16px;
    --text-base-regular-line-height: normal;
    --text-base-regular-font-weight: 400;
    --text-base-regular-font-style: normal;
    --text-base-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-base-semibold-font-size: 16px;
    --text-base-semibold-line-height: normal;
    --text-base-semibold-font-weight: 600;
    --text-base-semibold-font-style: normal;
    --text-base-thin-font-family: Inter-Thin, sans-serif;
    --text-base-thin-font-size: 16px;
    --text-base-thin-line-height: normal;
    --text-base-thin-font-weight: 100;
    --text-base-thin-font-style: normal;
    --text-lg-black-font-family: Inter-Black, sans-serif;
    --text-lg-black-font-size: 18px;
    --text-lg-black-line-height: normal;
    --text-lg-black-font-weight: 900;
    --text-lg-black-font-style: normal;
    --text-lg-bold-font-family: Inter-Bold, sans-serif;
    --text-lg-bold-font-size: 18px;
    --text-lg-bold-line-height: normal;
    --text-lg-bold-font-weight: 700;
    --text-lg-bold-font-style: normal;
    --text-lg-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-lg-extrabold-font-size: 18px;
    --text-lg-extrabold-line-height: normal;
    --text-lg-extrabold-font-weight: 800;
    --text-lg-extrabold-font-style: normal;
    --text-lg-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-lg-extralight-font-size: 18px;
    --text-lg-extralight-line-height: normal;
    --text-lg-extralight-font-weight: 200;
    --text-lg-extralight-font-style: normal;
    --text-lg-light-font-family: Inter-Light, sans-serif;
    --text-lg-light-font-size: 18px;
    --text-lg-light-line-height: normal;
    --text-lg-light-font-weight: 300;
    --text-lg-light-font-style: normal;
    --text-lg-medium-font-family: Inter-Medium, sans-serif;
    --text-lg-medium-font-size: 18px;
    --text-lg-medium-line-height: normal;
    --text-lg-medium-font-weight: 500;
    --text-lg-medium-font-style: normal;
    --text-lg-regular-font-family: Inter-Regular, sans-serif;
    --text-lg-regular-font-size: 18px;
    --text-lg-regular-line-height: normal;
    --text-lg-regular-font-weight: 400;
    --text-lg-regular-font-style: normal;
    --text-lg-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-lg-semibold-font-size: 18px;
    --text-lg-semibold-line-height: normal;
    --text-lg-semibold-font-weight: 600;
    --text-lg-semibold-font-style: normal;
    --text-lg-thin-font-family: Inter-Thin, sans-serif;
    --text-lg-thin-font-size: 18px;
    --text-lg-thin-line-height: normal;
    --text-lg-thin-font-weight: 100;
    --text-lg-thin-font-style: normal;
    --text-xl-black-font-family: Inter-Black, sans-serif;
    --text-xl-black-font-size: 20px;
    --text-xl-black-line-height: normal;
    --text-xl-black-font-weight: 900;
    --text-xl-black-font-style: normal;
    --text-xl-bold-font-family: Inter-Bold, sans-serif;
    --text-xl-bold-font-size: 20px;
    --text-xl-bold-line-height: normal;
    --text-xl-bold-font-weight: 700;
    --text-xl-bold-font-style: normal;
    --text-xl-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-xl-extrabold-font-size: 20px;
    --text-xl-extrabold-line-height: normal;
    --text-xl-extrabold-font-weight: 800;
    --text-xl-extrabold-font-style: normal;
    --text-xl-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-xl-extralight-font-size: 20px;
    --text-xl-extralight-line-height: normal;
    --text-xl-extralight-font-weight: 200;
    --text-xl-extralight-font-style: normal;
    --text-xl-light-font-family: Inter-Light, sans-serif;
    --text-xl-light-font-size: 20px;
    --text-xl-light-line-height: normal;
    --text-xl-light-font-weight: 300;
    --text-xl-light-font-style: normal;
    --text-xl-medium-font-family: Inter-Medium, sans-serif;
    --text-xl-medium-font-size: 20px;
    --text-xl-medium-line-height: normal;
    --text-xl-medium-font-weight: 500;
    --text-xl-medium-font-style: normal;
    --text-xl-regular-font-family: Inter-Regular, sans-serif;
    --text-xl-regular-font-size: 20px;
    --text-xl-regular-line-height: normal;
    --text-xl-regular-font-weight: 400;
    --text-xl-regular-font-style: normal;
    --text-xl-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-xl-semibold-font-size: 20px;
    --text-xl-semibold-line-height: normal;
    --text-xl-semibold-font-weight: 600;
    --text-xl-semibold-font-style: normal;
    --text-xl-thin-font-family: Inter-Thin, sans-serif;
    --text-xl-thin-font-size: 20px;
    --text-xl-thin-line-height: normal;
    --text-xl-thin-font-weight: 100;
    --text-xl-thin-font-style: normal;
    --text-2-xl-black-font-family: Inter-Black, sans-serif;
    --text-2-xl-black-font-size: 24px;
    --text-2-xl-black-line-height: normal;
    --text-2-xl-black-font-weight: 900;
    --text-2-xl-black-font-style: normal;
    --text-2-xl-bold-font-family: Inter-Bold, sans-serif;
    --text-2-xl-bold-font-size: 24px;
    --text-2-xl-bold-line-height: normal;
    --text-2-xl-bold-font-weight: 700;
    --text-2-xl-bold-font-style: normal;
    --text-2-xl-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-2-xl-extrabold-font-size: 24px;
    --text-2-xl-extrabold-line-height: normal;
    --text-2-xl-extrabold-font-weight: 800;
    --text-2-xl-extrabold-font-style: normal;
    --text-2-xl-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-2-xl-extralight-font-size: 24px;
    --text-2-xl-extralight-line-height: normal;
    --text-2-xl-extralight-font-weight: 200;
    --text-2-xl-extralight-font-style: normal;
    --text-2-xl-light-font-family: Inter-Light, sans-serif;
    --text-2-xl-light-font-size: 24px;
    --text-2-xl-light-line-height: normal;
    --text-2-xl-light-font-weight: 300;
    --text-2-xl-light-font-style: normal;
    --text-2-xl-medium-font-family: Inter-Medium, sans-serif;
    --text-2-xl-medium-font-size: 24px;
    --text-2-xl-medium-line-height: normal;
    --text-2-xl-medium-font-weight: 500;
    --text-2-xl-medium-font-style: normal;
    --text-2-xl-regular-font-family: Inter-Regular, sans-serif;
    --text-2-xl-regular-font-size: 24px;
    --text-2-xl-regular-line-height: normal;
    --text-2-xl-regular-font-weight: 400;
    --text-2-xl-regular-font-style: normal;
    --text-2-xl-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-2-xl-semibold-font-size: 24px;
    --text-2-xl-semibold-line-height: normal;
    --text-2-xl-semibold-font-weight: 600;
    --text-2-xl-semibold-font-style: normal;
    --text-2-xl-thin-font-family: Inter-Thin, sans-serif;
    --text-2-xl-thin-font-size: 24px;
    --text-2-xl-thin-line-height: normal;
    --text-2-xl-thin-font-weight: 100;
    --text-2-xl-thin-font-style: normal;
    --text-3-xl-black-font-family: Inter-Black, sans-serif;
    --text-3-xl-black-font-size: 30px;
    --text-3-xl-black-line-height: normal;
    --text-3-xl-black-font-weight: 900;
    --text-3-xl-black-font-style: normal;
    --text-3-xl-bold-font-family: Inter-Bold, sans-serif;
    --text-3-xl-bold-font-size: 30px;
    --text-3-xl-bold-line-height: normal;
    --text-3-xl-bold-font-weight: 700;
    --text-3-xl-bold-font-style: normal;
    --text-3-xl-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-3-xl-extrabold-font-size: 30px;
    --text-3-xl-extrabold-line-height: normal;
    --text-3-xl-extrabold-font-weight: 800;
    --text-3-xl-extrabold-font-style: normal;
    --text-3-xl-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-3-xl-extralight-font-size: 30px;
    --text-3-xl-extralight-line-height: normal;
    --text-3-xl-extralight-font-weight: 200;
    --text-3-xl-extralight-font-style: normal;
    --text-3-xl-light-font-family: Inter-Light, sans-serif;
    --text-3-xl-light-font-size: 30px;
    --text-3-xl-light-line-height: normal;
    --text-3-xl-light-font-weight: 300;
    --text-3-xl-light-font-style: normal;
    --text-3-xl-medium-font-family: Inter-Medium, sans-serif;
    --text-3-xl-medium-font-size: 30px;
    --text-3-xl-medium-line-height: normal;
    --text-3-xl-medium-font-weight: 500;
    --text-3-xl-medium-font-style: normal;
    --text-3-xl-regular-font-family: Inter-Regular, sans-serif;
    --text-3-xl-regular-font-size: 30px;
    --text-3-xl-regular-line-height: normal;
    --text-3-xl-regular-font-weight: 400;
    --text-3-xl-regular-font-style: normal;
    --text-3-xl-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-3-xl-semibold-font-size: 30px;
    --text-3-xl-semibold-line-height: normal;
    --text-3-xl-semibold-font-weight: 600;
    --text-3-xl-semibold-font-style: normal;
    --text-3-xl-thin-font-family: Inter-Thin, sans-serif;
    --text-3-xl-thin-font-size: 30px;
    --text-3-xl-thin-line-height: normal;
    --text-3-xl-thin-font-weight: 100;
    --text-3-xl-thin-font-style: normal;
    --text-4-xl-black-font-family: Inter-Black, sans-serif;
    --text-4-xl-black-font-size: 36px;
    --text-4-xl-black-line-height: normal;
    --text-4-xl-black-font-weight: 900;
    --text-4-xl-black-font-style: normal;
    --text-4-xl-bold-font-family: Inter-Bold, sans-serif;
    --text-4-xl-bold-font-size: 36px;
    --text-4-xl-bold-line-height: normal;
    --text-4-xl-bold-font-weight: 700;
    --text-4-xl-bold-font-style: normal;
    --text-4-xl-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-4-xl-extrabold-font-size: 36px;
    --text-4-xl-extrabold-line-height: normal;
    --text-4-xl-extrabold-font-weight: 800;
    --text-4-xl-extrabold-font-style: normal;
    --text-4-xl-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-4-xl-extralight-font-size: 36px;
    --text-4-xl-extralight-line-height: normal;
    --text-4-xl-extralight-font-weight: 200;
    --text-4-xl-extralight-font-style: normal;
    --text-4-xl-light-font-family: Inter-Light, sans-serif;
    --text-4-xl-light-font-size: 36px;
    --text-4-xl-light-line-height: normal;
    --text-4-xl-light-font-weight: 300;
    --text-4-xl-light-font-style: normal;
    --text-4-xl-medium-font-family: Inter-Medium, sans-serif;
    --text-4-xl-medium-font-size: 36px;
    --text-4-xl-medium-line-height: normal;
    --text-4-xl-medium-font-weight: 500;
    --text-4-xl-medium-font-style: normal;
    --text-4-xl-regular-font-family: Inter-Regular, sans-serif;
    --text-4-xl-regular-font-size: 36px;
    --text-4-xl-regular-line-height: normal;
    --text-4-xl-regular-font-weight: 400;
    --text-4-xl-regular-font-style: normal;
    --text-4-xl-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-4-xl-semibold-font-size: 36px;
    --text-4-xl-semibold-line-height: normal;
    --text-4-xl-semibold-font-weight: 600;
    --text-4-xl-semibold-font-style: normal;
    --text-4-xl-thin-font-family: Inter-Thin, sans-serif;
    --text-4-xl-thin-font-size: 36px;
    --text-4-xl-thin-line-height: normal;
    --text-4-xl-thin-font-weight: 100;
    --text-4-xl-thin-font-style: normal;
    --text-5-xl-black-font-family: Inter-Black, sans-serif;
    --text-5-xl-black-font-size: 48px;
    --text-5-xl-black-line-height: normal;
    --text-5-xl-black-font-weight: 900;
    --text-5-xl-black-font-style: normal;
    --text-5-xl-bold-font-family: Inter-Bold, sans-serif;
    --text-5-xl-bold-font-size: 48px;
    --text-5-xl-bold-line-height: normal;
    --text-5-xl-bold-font-weight: 700;
    --text-5-xl-bold-font-style: normal;
    --text-5-xl-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-5-xl-extrabold-font-size: 48px;
    --text-5-xl-extrabold-line-height: normal;
    --text-5-xl-extrabold-font-weight: 800;
    --text-5-xl-extrabold-font-style: normal;
    --text-5-xl-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-5-xl-extralight-font-size: 48px;
    --text-5-xl-extralight-line-height: normal;
    --text-5-xl-extralight-font-weight: 200;
    --text-5-xl-extralight-font-style: normal;
    --text-5-xl-light-font-family: Inter-Light, sans-serif;
    --text-5-xl-light-font-size: 48px;
    --text-5-xl-light-line-height: normal;
    --text-5-xl-light-font-weight: 300;
    --text-5-xl-light-font-style: normal;
    --text-5-xl-medium-font-family: Inter-Medium, sans-serif;
    --text-5-xl-medium-font-size: 48px;
    --text-5-xl-medium-line-height: normal;
    --text-5-xl-medium-font-weight: 500;
    --text-5-xl-medium-font-style: normal;
    --text-5-xl-regular-font-family: Inter-Regular, sans-serif;
    --text-5-xl-regular-font-size: 48px;
    --text-5-xl-regular-line-height: normal;
    --text-5-xl-regular-font-weight: 400;
    --text-5-xl-regular-font-style: normal;
    --text-5-xl-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-5-xl-semibold-font-size: 48px;
    --text-5-xl-semibold-line-height: normal;
    --text-5-xl-semibold-font-weight: 600;
    --text-5-xl-semibold-font-style: normal;
    --text-5-xl-thin-font-family: Inter-Thin, sans-serif;
    --text-5-xl-thin-font-size: 48px;
    --text-5-xl-thin-line-height: normal;
    --text-5-xl-thin-font-weight: 100;
    --text-5-xl-thin-font-style: normal;
    --text-6-xl-black-font-family: Inter-Black, sans-serif;
    --text-6-xl-black-font-size: 60px;
    --text-6-xl-black-line-height: normal;
    --text-6-xl-black-font-weight: 900;
    --text-6-xl-black-font-style: normal;
    --text-6-xl-bold-font-family: Inter-Bold, sans-serif;
    --text-6-xl-bold-font-size: 60px;
    --text-6-xl-bold-line-height: normal;
    --text-6-xl-bold-font-weight: 700;
    --text-6-xl-bold-font-style: normal;
    --text-6-xl-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-6-xl-extrabold-font-size: 60px;
    --text-6-xl-extrabold-line-height: normal;
    --text-6-xl-extrabold-font-weight: 800;
    --text-6-xl-extrabold-font-style: normal;
    --text-6-xl-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-6-xl-extralight-font-size: 60px;
    --text-6-xl-extralight-line-height: normal;
    --text-6-xl-extralight-font-weight: 200;
    --text-6-xl-extralight-font-style: normal;
    --text-6-xl-light-font-family: Inter-Light, sans-serif;
    --text-6-xl-light-font-size: 60px;
    --text-6-xl-light-line-height: normal;
    --text-6-xl-light-font-weight: 300;
    --text-6-xl-light-font-style: normal;
    --text-6-xl-medium-font-family: Inter-Medium, sans-serif;
    --text-6-xl-medium-font-size: 60px;
    --text-6-xl-medium-line-height: normal;
    --text-6-xl-medium-font-weight: 500;
    --text-6-xl-medium-font-style: normal;
    --text-6-xl-regular-font-family: Inter-Regular, sans-serif;
    --text-6-xl-regular-font-size: 60px;
    --text-6-xl-regular-line-height: normal;
    --text-6-xl-regular-font-weight: 400;
    --text-6-xl-regular-font-style: normal;
    --text-6-xl-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-6-xl-semibold-font-size: 60px;
    --text-6-xl-semibold-line-height: normal;
    --text-6-xl-semibold-font-weight: 600;
    --text-6-xl-semibold-font-style: normal;
    --text-6-xl-thin-font-family: Inter-Thin, sans-serif;
    --text-6-xl-thin-font-size: 60px;
    --text-6-xl-thin-line-height: normal;
    --text-6-xl-thin-font-weight: 100;
    --text-6-xl-thin-font-style: normal;
    --text-7-xl-black-font-family: Inter-Black, sans-serif;
    --text-7-xl-black-font-size: 72px;
    --text-7-xl-black-line-height: normal;
    --text-7-xl-black-font-weight: 900;
    --text-7-xl-black-font-style: normal;
    --text-7-xl-bold-font-family: Inter-Bold, sans-serif;
    --text-7-xl-bold-font-size: 72px;
    --text-7-xl-bold-line-height: normal;
    --text-7-xl-bold-font-weight: 700;
    --text-7-xl-bold-font-style: normal;
    --text-7-xl-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-7-xl-extrabold-font-size: 72px;
    --text-7-xl-extrabold-line-height: normal;
    --text-7-xl-extrabold-font-weight: 800;
    --text-7-xl-extrabold-font-style: normal;
    --text-7-xl-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-7-xl-extralight-font-size: 72px;
    --text-7-xl-extralight-line-height: normal;
    --text-7-xl-extralight-font-weight: 200;
    --text-7-xl-extralight-font-style: normal;
    --text-7-xl-light-font-family: Inter-Light, sans-serif;
    --text-7-xl-light-font-size: 72px;
    --text-7-xl-light-line-height: normal;
    --text-7-xl-light-font-weight: 300;
    --text-7-xl-light-font-style: normal;
    --text-7-xl-medium-font-family: Inter-Medium, sans-serif;
    --text-7-xl-medium-font-size: 72px;
    --text-7-xl-medium-line-height: normal;
    --text-7-xl-medium-font-weight: 500;
    --text-7-xl-medium-font-style: normal;
    --text-7-xl-regular-font-family: Inter-Regular, sans-serif;
    --text-7-xl-regular-font-size: 72px;
    --text-7-xl-regular-line-height: normal;
    --text-7-xl-regular-font-weight: 400;
    --text-7-xl-regular-font-style: normal;
    --text-7-xl-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-7-xl-semibold-font-size: 72px;
    --text-7-xl-semibold-line-height: normal;
    --text-7-xl-semibold-font-weight: 600;
    --text-7-xl-semibold-font-style: normal;
    --text-7-xl-thin-font-family: Inter-Thin, sans-serif;
    --text-7-xl-thin-font-size: 72px;
    --text-7-xl-thin-line-height: normal;
    --text-7-xl-thin-font-weight: 100;
    --text-7-xl-thin-font-style: normal;
    --text-8-xl-black-font-family: Inter-Black, sans-serif;
    --text-8-xl-black-font-size: 96px;
    --text-8-xl-black-line-height: normal;
    --text-8-xl-black-font-weight: 900;
    --text-8-xl-black-font-style: normal;
    --text-8-xl-bold-font-family: Inter-Bold, sans-serif;
    --text-8-xl-bold-font-size: 96px;
    --text-8-xl-bold-line-height: normal;
    --text-8-xl-bold-font-weight: 700;
    --text-8-xl-bold-font-style: normal;
    --text-8-xl-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-8-xl-extrabold-font-size: 96px;
    --text-8-xl-extrabold-line-height: normal;
    --text-8-xl-extrabold-font-weight: 800;
    --text-8-xl-extrabold-font-style: normal;
    --text-8-xl-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-8-xl-extralight-font-size: 96px;
    --text-8-xl-extralight-line-height: normal;
    --text-8-xl-extralight-font-weight: 200;
    --text-8-xl-extralight-font-style: normal;
    --text-8-xl-light-font-family: Inter-Light, sans-serif;
    --text-8-xl-light-font-size: 96px;
    --text-8-xl-light-line-height: normal;
    --text-8-xl-light-font-weight: 300;
    --text-8-xl-light-font-style: normal;
    --text-8-xl-medium-font-family: Inter-Medium, sans-serif;
    --text-8-xl-medium-font-size: 96px;
    --text-8-xl-medium-line-height: normal;
    --text-8-xl-medium-font-weight: 500;
    --text-8-xl-medium-font-style: normal;
    --text-8-xl-regular-font-family: Inter-Regular, sans-serif;
    --text-8-xl-regular-font-size: 96px;
    --text-8-xl-regular-line-height: normal;
    --text-8-xl-regular-font-weight: 400;
    --text-8-xl-regular-font-style: normal;
    --text-8-xl-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-8-xl-semibold-font-size: 96px;
    --text-8-xl-semibold-line-height: normal;
    --text-8-xl-semibold-font-weight: 600;
    --text-8-xl-semibold-font-style: normal;
    --text-8-xl-thin-font-family: Inter-Thin, sans-serif;
    --text-8-xl-thin-font-size: 96px;
    --text-8-xl-thin-line-height: normal;
    --text-8-xl-thin-font-weight: 100;
    --text-8-xl-thin-font-style: normal;
    --text-9-xl-black-font-family: Inter-Black, sans-serif;
    --text-9-xl-black-font-size: 128px;
    --text-9-xl-black-line-height: normal;
    --text-9-xl-black-font-weight: 900;
    --text-9-xl-black-font-style: normal;
    --text-9-xl-bold-font-family: Inter-Bold, sans-serif;
    --text-9-xl-bold-font-size: 128px;
    --text-9-xl-bold-line-height: normal;
    --text-9-xl-bold-font-weight: 700;
    --text-9-xl-bold-font-style: normal;
    --text-9-xl-extrabold-font-family: Inter-ExtraBold, sans-serif;
    --text-9-xl-extrabold-font-size: 128px;
    --text-9-xl-extrabold-line-height: normal;
    --text-9-xl-extrabold-font-weight: 800;
    --text-9-xl-extrabold-font-style: normal;
    --text-9-xl-extralight-font-family: Inter-ExtraLight, sans-serif;
    --text-9-xl-extralight-font-size: 128px;
    --text-9-xl-extralight-line-height: normal;
    --text-9-xl-extralight-font-weight: 200;
    --text-9-xl-extralight-font-style: normal;
    --text-9-xl-light-font-family: Inter-Light, sans-serif;
    --text-9-xl-light-font-size: 128px;
    --text-9-xl-light-line-height: normal;
    --text-9-xl-light-font-weight: 300;
    --text-9-xl-light-font-style: normal;
    --text-9-xl-medium-font-family: Inter-Medium, sans-serif;
    --text-9-xl-medium-font-size: 128px;
    --text-9-xl-medium-line-height: normal;
    --text-9-xl-medium-font-weight: 500;
    --text-9-xl-medium-font-style: normal;
    --text-9-xl-regular-font-family: Inter-Regular, sans-serif;
    --text-9-xl-regular-font-size: 128px;
    --text-9-xl-regular-line-height: normal;
    --text-9-xl-regular-font-weight: 400;
    --text-9-xl-regular-font-style: normal;
    --text-9-xl-semibold-font-family: Inter-SemiBold, sans-serif;
    --text-9-xl-semibold-font-size: 128px;
    --text-9-xl-semibold-line-height: normal;
    --text-9-xl-semibold-font-weight: 600;
    --text-9-xl-semibold-font-style: normal;
    --text-9-xl-thin-font-family: Inter-Thin, sans-serif;
    --text-9-xl-thin-font-size: 128px;
    --text-9-xl-thin-line-height: normal;
    --text-9-xl-thin-font-weight: 100;
    --text-9-xl-thin-font-style: normal;
  
    /* Effects */
    --shadow-sm-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-base-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    --shadow-md-box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
      0px 2px 4px -2px rgba(0, 0, 0, 0.1);
    --shadow-lg-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    --shadow-xl-box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
      0px 8px 10px -6px rgba(0, 0, 0, 0.1);
    --shadow-2-xl-box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  